papers
.venv
.idea
__pycache__
.env
lavatube_finder.ipynb
data
data/mars_relief_cache_region.json
to-do
trade_off.py
themis_phase2_cache
themis_phase2_output
data/mars_relief_cache_region.json
model/best_model*.pt
matched_crops_preview.png
data/mars_relief_cache_region.json
